Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for data science
* Create familiarity with Jupyter notebook
* Introduce Python
* Introduct Anaconda & R Studio

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql

Some of the commonly used libraries used by Data Scientists include:
1. datasets
2. ggplot
3. ggally

| Data Science Tools|
 ------------------
Anaconda
R Studio
VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335